.space {
    background-image: url("images/space.png");
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80vw;
    height: 95vh;
}

.planet-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    height: 80%;
    overflow: hidden;
}

.planet {
    position: absolute;
    left: -5px;
    bottom: -5px;
    max-width: 90%;

}

.rocket {
    position: absolute;
    transform: rotate(30deg);
    width: 20%;
    height: 30%;
    left: 20%;
    bottom: 31%;
}