.space {
    background-image: url("images/space.png");
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80vw;
    height: 95vh;
}

.planet-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    height: 80%;
    overflow: hidden;
}

.planet {
    position: absolute;
    left: -5px;
    bottom: -5px;
    max-width: 90%;

}

.rocket {
    position: absolute;
    transform: rotate(30deg);
    width: 35%;
    height: 35%;
    left: 45%;
    bottom: 45%;
}

.control-panel{
    position: absolute;
    margin: 0 auto;
    width: 30%;
    height: 40%;
    left: 60%;
    bottom: 20%;
    background-color: gray;

    /*background-color: gray;*/
    background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(255,255,255,.5) 20px, rgba(255,255,255,.5) 40px);

}

.control-panel__inner{
    position: absolute;
    background-color: gray;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-around;
    height: 90%;
    width: 90%;
    left: 5%;
    top: 5%;
    bottom: 5%

}

.password{
    margin: 0 auto;
}

.check-buttons{
    display: flex;
    justify-content: space-around;
}

.levers{
    display: flex;
    justify-content: space-around;
}

.launch-div {
    margin: 0 auto;
}